/* SignupFormCss.css */
.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

}

.signup-box {
  padding: 100px;
  padding-inline: 800px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-box h1 {
  font-size: 36px;
  margin-bottom: 28px;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center; /* Align the label and input vertically */
  margin-bottom: 16px; /* Adjust the spacing between input groups */
}

.input-group label {
  font-size: 20px;
  color: #0a0a0a;
  width: 180px; /* Adjust the width of the label */
  margin-right: 16px; /* Add some space between label and input */
}

.input-group input,
.input-group select {
  /* flex: 1; Let the input take remaining width */
  padding: 15px 70px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 20px;
}

.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 18px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signup-button:hover {
  background-color: #0056b3;
}
