.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.login-box {
  padding: 100px;
  padding-inline: 800px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h1 {
  font-size: 36px;
  margin-bottom: 28px;
  color: #333;
}

.input-group {
  margin-bottom: 28px; /* 크기 조정 */
}

.input-group label {
  display: block;
  font-size: 20px; /* 크기 조정 */
  color: #666;
  margin-bottom: 14px; /* 크기 조정 */
}

.input-group input {
  padding: 20px; /* 크기 조정 */
  border: 1px solid #ccc;
  border-radius: 12px; /* 크기 조정 */
  font-size: 20px; /* 크기 조정 */
  align-items: flex-start;
  justify-content: center; 
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px; /* 크기 조정 */
  padding: 18px 24px; /* 크기 조정 */
  font-size: 20px; /* 크기 조정 */
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #0056b3;
}
