.review-register-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .comment-input-container {
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: -30px;
    padding: 20px;
    width: 78%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .comment-input-content {
    margin: 0 auto;
    border: none;
    resize: none;
    width: 99%;
    height: 70px;
    border: 1px solid #bdbdbd;
    font-size: 14px;
  }
  
  .comment-input-rating {
    width: 80px;
    padding: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .comment-input-submit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .comment-input-submit:hover {
    background-color: #555;
  }
  