.diet-form-container {
    padding :"1 rem";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block:226px;
}
.diet-form-container h1 {
    margin-right: 20px;
}

.meal-table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
    table-layout: fixed;
    margin-top: 30px;
    margin-bottom: 20px;

}

.meal-table th, .meal-table td {

    padding: 8px;
    border: none;
}

.meal-table  td {
    background-color: rgb(241,244,246);
    border-radius: 40px; /* 둥글게 처리 */

}



